.post > h1 { /* post title */
	padding-bottom: 20px;
}

.post > div { /* post content */
	background-color: white;
	padding: 30px;
	font-size: 18px;
}

pre {
	padding: 0px;	
}

code {
	background-color: #222;
}