body {
	background-color: #222;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

.site-name>a {
	text-decoration: none;
	color: white;
}

.header-img {
	margin-top: 20px;
	margin-bottom: 10px;
}

.header-img img {
	width: 39px;
	height: 39px;
}

#nav {
	background-color: #333;
}

#nav .active>a {
	background-color: #4472B9;
}

.center {
	text-align: center;
}

.content {
	background-color: #eee;	
	min-height: calc(100vh - 119px); /* 119px is title + nav*/
}

.content .row:before {
	height: 40px;
}

article {
	background-color: white;
	padding: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

article a {
	text-decoration: none;
	color: black;
}

article a:hover { 
	text-decoration: none;
    color: #4472B9;
}

.date {
	color: #999;
}

.tag, .tag:hover, .tag:focus {
	background-color: #4472B9;
	color: white;	
	margin-left: 10px;
	width: 77px;
	padding: 0px;
}